.header-bg {
    background: #0277bd;
    padding: 3% 23%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.header-text {
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(224, 224, 224, 0.75), rgba(187, 187, 187, 0));
}

.okta-form-title {
    font-weight: bold !important;
    font-size: 1.3rem !important;
}

.okta-sign-in {
    border-radius: 10px !important;
}

.auth-container {
    background: #f4fbff !important;
}

.auth-header {
    background: #b3e5fc !important;
}